webpack/*
*.config.js

*.json
*.ejs
tests/*
docker/*
azure-pipelines.yml
azure-pipelines-dist.yml
src/modules/common/database/migration/*
LICENSE
README.md
*.sh

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# logs
*.log

exports/
coverage/
migration/
migrationJobUsage/
worker/